<%- include("partials/header.ejs") %>


<div class="input-container">
    <p>Enter the text below :</p>
    <form action="/add-blog" method="post">
        <textarea id="input_txt" name="content" rows="4" cols="50"></textarea>
        <input id="input_btn" class="btn" type="submit">
    </form>
</div>